*{
  margin: 0;
  padding: 0;

}

input{
    border-radius: 8px;
    border: 1px solid rgb(175, 170, 170);
    font-size: 12px;
}

.task1{
  width: 240px;
  text-align: center;
  padding: 10px;
}

.nameRow{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

}
.firstName{
  padding: 10px;
  width: 50%;
}

.lastName{
  padding: 10px;
  width: 50%;
}

.emailRow{
  display: flex;
}
.eMail{
  width: 100%;
  padding: 10px;
}

.buttonRow{
    display: flex;
    margin-top: 10px;
}

.signUp{
  width: 100%;
  border: none;
  padding: 12px;
  color: white;
  background-color: rgb(25, 148, 236);
  border-radius: 8px;
}


.task2{
  width: 280px;
  text-align: center;
  padding: 10px;
  font-family: Arial;
}

h2{
  text-align: left;
  margin-bottom: 20px;
  font-weight: 500;
}

.locationRow,
.destinationRow{
  display: flex;
}

.location,
.destination{
  width: 100%;
  padding: 10px 20px;
  border-radius: 0;
  border: none;
  background-color: rgb(238, 238, 238);
}

.location,
.destination::placeholder{
  font-size: 13px;
}

.location{
  margin-bottom: 10px;
}
.destinationRow{
  margin-bottom: 20px;
}

.buttonRow{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  
}

.request{
  padding: 10px 15px;
    font-size: 12px;
    color: white;
    background-color: black;
    border: none;
}

.schedule{
  padding: 10px 20px;
    font-size: 12px;
    border: none;
}


