h4{
  font-size: 14px;
  color: green;
}

p{
  font-size: 14px;
}

button{
  border-radius: 20px;
  padding: 7px 20px;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.button1{
  background-color: rgb(224, 198, 4);
}

.button2{
  background-color: orange;
}