h4{
  font-size: 14px;
  color: green;
}

p{
  font-size: 14px;
}

button{
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
}

.button1{
  background-color: ;
}

.button2{
  background-color: ;
}