button:hover{
  cursor: pointer;
}

.uber{
  background-color: black;
  color: white;
  padding: 9px 16px;
  border: none;
  font-weight: 400;
  transition: 0.15s;
}
.uber:hover{
  opacity: 0.7;
}

.amazon{
  background-color: rgb(243, 215, 9);
  border: none;
  border-radius: 15px;
  padding: 7px 40px;
  font-weight: 500;
}

.signup{
  background-color: green;
  border: none;
  border-radius: 8px;
  padding: 12px 25px;
  color: white;
  font-weight: bold;
}

.signup:hover{
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.2);
}

.bootstrap1{
  background-color: rgb(130, 28, 226);
  color: white;
  border: none;
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
  transition: background-color 0.15s;
}

.bootstrap1:hover{
  background-color: rgb(115, 25, 199);
}

.bootstrap2{
  background-color: rgb(255, 255, 255);
  color: rgb(104, 103, 103);
  border: 1px solid rgb(104, 103, 103);
  padding: 10px 18px;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
  transition: background-color 0.15s;
}

.bootstrap2:hover{
  background-color: rgb(104, 103, 103);
  color: white;
}


.apply{
  background-color: rgb(24, 89, 200);
  color: rgb(255, 254, 254);
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
    transition:
    background-color 0.15s
    ;
}

.apply:hover{
  background-color: rgb(21, 75, 168);
}

.save{
    background-color: rgb(255, 254, 254);
  color:rgb(24, 89, 200) ;
  padding: 10px 15px;
  border: 1px solid rgb(24, 89, 200);
  border-radius: 18px;
  font-weight: bold;
}

.save:hover{
  border: 2px solid rgb(24, 89, 200);
  background-color: rgba(24, 88, 200, 0.149) ;
}





































