.task1{
  display: flex;
  flex-direction: row;
}

.div1{
  background-color: rgb(223, 223, 23);
  width: 200px;
}
.div2{
  background-color: rgb(33, 192, 192);
  width: 75px;
}

.task2{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.div3{
  background-color: rgb(48, 216, 42);
  width: 50px;
}
.div4{
  background-color: rgb(227, 13, 124);
  flex: 1;
}

.div5{
  background-color: rgb(33, 192, 192);
  width: 75px;
}

.task3{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.one{
  background-color: red;
  width: 50px;
}

.task4{
    margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border: grey solid 1px;
  align-items: center;
}

.divTEST{
  background-color: lightpink;
}

.task5{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid rgb(188, 183, 183);
  border-radius: 10px;
  font-family: Arial;
  padding: 10px;
}
.homeNotif, .notif,
.messageNotif{
    height: 30px;
}

.homeNotif{
  display: flex;
  justify-content: space-between;

  align-items: center;
  
}

.notif{
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.messageNotif{
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.notifCount{
  background-color: rgb(30, 139, 255);
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 20px;
  color: white;
}

.task6{
  margin-top: 20px;
  width: 300px;
  font-family: Arial;
  padding: 10px;
}

.parentDiv{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.imageDiv{
  margin-right: 15px;
}
.nameDiv{
  flex: 1;
}
.belugaImage{
  width: 50px;
  border-radius: 50%;
}

.buttonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}

.belugaParagraph{
  padding: 0;
  margin: 0;
    font-size: 15px;

}

.title{
  font-weight: bold;
  margin-bottom: 3px
}

.desc, .categ{
  font-weight: 500;
  margin-bottom: 3px;
  color: grey;
}


.followButton{
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: rgb(28, 137, 231);
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 15px;
}

.mainDiv{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 20px;
  background-color: rgb(120, 12, 136);
}

.div12{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: Arial;
}

.title{
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: white;
  cursor: pointer;

}

.div22{
  display: flex;
  justify-content: center;  
  flex: 1;
  
}

.searchBar{
  width: 100%;
  max-width: 800px;
  border-radius: 40px;
  border: none;
}

.searchBar::placeholder{
  font-size: 14px;
  padding: 10px;
}

.div32{
  display: flex;
  justify-content: end;
  align-self: center;
  width: 150px;
}

.downloadButton{
  padding: 8px 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}