body{
  height: 3000px;
}

.close-container{
  padding: 10px;
  background-color: black;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.boxDiv{
  width: 320px;
  height: 180px;
  background-color: rgb(64, 11, 11);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.image-div{
  width: 250px;
  height: 250px;
  display: flex;
  background-color: rgb(76, 76, 76);
  position: relative;
  margin-bottom: 20px;
}

.image1{
  width: 100%;
  object-fit: contain;
  margin-top: 30px;
}

.discount{
  position: absolute;
  right: 0;
  top: 12px;
  background-color: black;
  color: white;
  padding: 4px 6px 4px 10px;
  font-size: 14px;
}

.add-to-cart{
  position: absolute;
  background-color: rgba(171, 168, 168, 0.871);
  width: 100%;
  bottom: 0;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtoCart{
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
  font-weight: bold;
}