*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 50px;
}

.parentDiv1{
  width: 300px;
  height: 80px;
  display: flex;
  margin-bottom: 30px;
}

.innerDiv1{
  width: 100px;
  background-color: lightcoral;
    display: flex;
  justify-content: center;
  align-items: center;
}
.innerDiv2{
  width: 200px;
  background-color: rgb(13, 40, 159);
}

.textDiv{
  padding: 4px;
  background-color: green;
}



.parentDiv2{
  width: 300px;
  height: 80px;
  display: flex;
  margin-bottom: 30px;
}

.division1{
  width: 100px;
  background-color: lightcoral;
    display: flex;
  justify-content: center;
  align-items: center;
}
.division2{
  width: 200px;
  background-color: rgb(13, 40, 159);
  display: flex;
  flex-direction: column;
}

.row1{
  color: white;
}

.row2{
  display: flex;
  justify-content: space-between;

}
.row2 p{
  background-color: white;
  width: 35px;
}




.parentDiv3{
  width: 400px;
  font-family: Arial;
  height: 100%;
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.274);
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.15);
  border-radius: 8px;

}

.parentContainer{
  margin-bottom: 25px;
}

.mainDiv1{
  width: 100%;
  height: 15%;
  font-size: 13px;
  display: flex;
  justify-content: start;
  align-self: center;
  margin-bottom: 15px;
}

.allInbox{

  color: gray;
}

.mainDiv2{
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: nowrap;
}

.imageDiv{
  margin-right: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.belugaImage{
  width: 50px;
  border-radius: 50%;
}
.lebronImage{
    width: 50px;
    height: 50px;
  border-radius: 50%;
  object-fit:cover;
  border: 1px solid grey;
  
}

.infoDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 80%;
}

.nameDiv{
  display: flex;
  justify-content: space-between;
  max-width: 310px;
}

.nameTitle{
  font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 200px;
}
.time{
  font-size: 12px;

  color: gray;
  margin-right: 5px;
  flex: 1;
}

.sale{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 3px;
}

.sentenceDiv{
  width: 100%;
  overflow: hidden;
}


.sentence{
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
}


.container{
  margin-top: 70px;
  width: 400px;
  display: flex;
  padding: 10px 15px 10px 15px;
  font-family: Arial;
} 

.belugaProfile{
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}


.userName{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.Name{
  font-weight: bold;
}
.userName1{
  color: grey;
}

.tweet{
  line-height: 22px;
  text-align: justify;
}

.videoLink{

  display: flex;
  width: 100%;
  height: 90px;
  margin-top: 15px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid gray;
}

.videoThumbnail{
  width: 30%;
  background-color: rgb(126, 126, 126);
}

.videoTitle{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 15px;
}

.ytLink{
  font-size: 15px;
  margin-bottom: 3px;
  color: grey;
}
.ytTitle{
  font-size: 15px;
}










